* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --cinza: #efefef
}

html, 
body, 
#root {
  background-color: var(--cinza);
  height: 100%;
}